.homeBg {
    background: url('../assets/todo2.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:80em; 
    background-size:cover;
    width:auto;
    background-position:50% 50%;
  }