.todo-app{
    font-family: "Helvetica Neue";
    color: #ffffff;
}
.todo-app label{
    font-family: "Helvetica Neue";
    color: #ffffff;
}
.todo_add .btn-info{
    background-color: #00A9E0;
    border-color: #00A9E0;
}
.table th{
    border: none;
    font-weight: normal;
    font-family: "Helvetica Neue";
    padding: 10 0; 
    margin: 10px 0;
}